<div class="container">
  <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email">
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
      </form><!-- /form -->
      <div class="alert alert-danger" *ngIf="loginError">
        <strong>Autenticazione fallita</strong>, dati non corretti
      </div>
      <hr/>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" (click)="onLoginWithGoogle()">Sign in with Google</button>
  </div><!-- /card-container -->
</div><!-- /container -->