/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";

/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body { font-family: 'Roboto' !important; background-color: #4788ff !important; }

