<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <label class="navbar-brand">App Segnalazioni Comune</label>
    <div *ngIf="authService.isLoggedIn()" class="pull-right">
      <label style="margin-right: 5px;">Benvenuto {{name}}</label> 
      <a (click)="authService.logout()" 
          href="#" class="btn btn-default navbar-btn" role="button" >
          <i class="fa fa-lock" style="margin-right: 5px;"></i>
          Logout
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>