<div class="container" *ngFor="let user of usersPost">
  <div class="container" *ngFor="let post of user.posts">
    <div class="card">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <div *ngIf="!post.fullImageUrl" class="image-dimension"></div>
            <img *ngIf="post.fullImageUrl" [src]="post.fullImageUrl" class="image-dimension">
          </a>
        </div>
        <div class="media-body" style="padding: 3px;">
          <div>
            <p style="margin-bottom: 0px; font-size: small;">Caricata il: {{post.timestamp | date:"dd/MM/yyyy 'alle' HH:mm"}}</p>
          </div>
          <div style="display: flex;">
              <div style="flex-grow: 9;">
                <p style="font-size: 18px;">Presso: {{post.address}}</p>
              </div>
              <div style="flex-grow: 1;" [ngClass]="{'yellow-star': post.starred}" (click)="toggleState(user.userId, post)">
                <i class="fa fa-star" style="font-size: 22px;"></i>
              </div>
          </div>
          <div>
            <p style="margin-bottom: 0px;">{{post.comment}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>